# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# credentials & sensitive
google_creds.json
google_creds.*.json

# local reports / generated
reports/
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
